@use 'src/assets/global' as i;
.header{
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  transition: i.$tran-05;
  padding: 1rem 2rem;
  .search_box{
    position: relative;
    display: flex;
    height: 50px;
    background-color: i.$bg-color;
    border-radius: 6px;
    box-shadow: i.$shadow-color;
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    svg{
      font-size: 1.3rem;
    }
    &:hover{
      cursor: pointer;
      background-color: i.$hover-color;
    }
  }
}
.header.close{
  left: 88px;
  width: calc(100% - 88px);
}
