@use 'src/assets/global' as g;
.combo_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: g.$bg-color;
  border-radius: .5rem;
  box-shadow: g.$shadow-color;
  user-select: none;
  cursor: pointer;
  .value{
    font: {
      size: 1.3rem;
    };
  }
  .options{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: g.$bg-color;
    min-height: 50px;
    box-shadow: g.$shadow-color;
    line-height: 2rem;
    border-bottom: {
      left-radius: .5rem;
      right-radius: .5rem;
    };
    li{
      padding: 0 1rem;
      &:hover{
        background-color: g.$hover-color;
        cursor: pointer;
      }
    }
    p{
      padding: 0 1rem;
    }
  }
}