.home_dinosaur{
  padding: 2rem 0;
  background: var(--primary-color);
  .button_field{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    button{
      width: 300px;
      height: 50px;
    }
  }
  .dino_grid{
    padding: 1rem;
    overflow: hidden;
    position: relative;
  }
  .slider_text{
    padding: 3rem 0;
    h1{
      font-size: 3rem;
      text-align: center;
    }
    .content{
      margin: 3rem 0;
      p{
        text-align: justify;
        font-size: 1.3rem;
      }
    }
  }
  .dino_row{
    width: 13260px;
    animation-duration: 165s;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: animate_left;
    opacity: 1;
  }
  .animation{
    animation-direction: normal;
  }
  .animation_reverse{
    animation-direction: reverse;
  }
}
@keyframes animate_left {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-50%);
  }
}