@use 'src/assets/global' as g;
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: g.$bg-color;
  box-shadow: g.$shadow-color;
  padding: 1.5rem 1rem;
  z-index: 100;
  transition: g.$tran-05;
  header{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
  }
  .logo_container{
    display: flex;
    align-items: center;
  }
  .image{
    display: flex;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  .sidebar_title{
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .toggle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    background-color: g.$extra-color2;
    border-radius: 50%;
    &:hover{
      cursor: pointer;
      background-color: g.$hover-color;
    }
  }
}
.sidebar.close{
  width: 88px;
  .sidebar_title{
    position: absolute;
    top: -999px;
    opacity: 0;
  }
}
