.search_result{
  position: absolute;
  top: 70px;
  width: 100%;
  display: flex;
  min-height: 75px;
  border-radius: .5rem;
  color: var(--secondary-color);
  background-color: #FFFFFF;
  box-shadow: var(--shadow-color);
  padding: 2rem;
  z-index: 99;
}