.dinosaurs_grid{
  .dinosaurs_filter{
    width: 100%;
    background-color: var(--extra-color);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
  }
  .input_field, .buttons_field{
    height: 50px;
    margin: 1rem;
  }
  .buttons_field{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    div{
      display: flex;
    }
  }
}
@media (min-width: 1300px) {
  .field_wide{
    grid-column: span 4 /auto !important;
  }
}
@media (min-width: 761px) {
  .field_wide{
    grid-column: span 2 /auto;
  }
}